@import "variables";

$primary: blue;
$font-size: 30px;

h1 {
  color: $primary;
  font-size: 20px;
}




/* body {
  background-color: $color-background;
  font-family: $font-family-base;
  margin: 0;
  padding: $spacing;
}
 */